/* TicTacToe.css */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 20px);
    height: calc(100vh - 192px);
}
/* .offline-message {
    color: #d9534f;
    font-size: 26px;
    margin-bottom: 10px;
} */
.error-container {
    color: #a94442; /* Red text color */
    background-color: #f2dede; /* Light red background color */
    border-color: #ebccd1; /* Red border color */
    padding: 15px; /* Padding around the text */
    margin: 10px; /* Margin at the bottom */
    border: 1px solid transparent; /* Border around the container */
    border-radius: 4px; /* Rounded corners */
    text-align: center; /* Center the text */
    font-size: 1.2em; /* Increase the font size */
  }
.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0e0e0;
    }
}
.circle,
.cross {
    color: #333;
}

.circle::before {
    content: 'O';
}

.cross::before {
    content: 'X';
}

.result-message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.button-tic-tac-toe {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
