/* Contact us page CSS Start */
.contact-container {
    padding: 50px;
    background-color: #F9EFDB; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 192px);
    width: calc(100vw - 20px); /* Subtract the 10px right margin */
    margin: 10px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: #F9EFDB;
    font-weight: bold;
}
  
  .contact-container .contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #638889;
  
  }
  
  .contact-container .contact-right h1 {
    color: #638889;
  }
  .contact-container .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .contact-container .contact-right form input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #638889;
    width: 50vh;
  }
  
  .contact-container .contact-right form textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #638889;
    width: 50vh;
  }
  
  .contact-container .contact-right form button {
    padding: 10px 15px;
    margin: 10px;
    background-color: #638889;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #F9EFDB;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  /* .contact-container .contact-right form button:hover {
    background-color: var(--dark-green);
  } */
  
  /* Contact us page CSS End */
  
  